<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"
    type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="INFO" />
      <file value="LogFile\LogFile.xml" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <datePattern value="'.'yyyyMMdd'.log'" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <conversionPattern value="%date [%thread] %-5level
                  %logger %X{user} %X{url} - %message%newline" />
      </layout>
    </appender>

    
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />      
  </root>
  </log4net>
</configuration>