@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A Bad REST API</h1>
    <p class="lead">A Client needs us to pull 2 years of ultra-cool curated tweets they have collected and stored themselves.</p>
    <p>We need to make sure that we get all tweets from 2016 and 2017.</p>
    <p>The only way to get this data is to use the client's REST API. But it's not a well-designed API.</p>
    <p>@Html.ActionLink("Solution", "Solution", "Home")</p>
</div>

